/*--------------ACHIEVEMENT-----*/

.container{
    width: 80%;
    margin: 0 auto;

}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
.about__achievements {
    margin-top: 3rem;
    background: plum;
}
.about__achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achievement-right > p{
margin: 1.6rem 0 2.5rem;

}


img {
    width: 100%;
    display: block;
    object-fit: cover;}
.achievements__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.achievements__card{
    background: purple;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: 400ms ease;
}
.achievements__card:hover{
    background: plum;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.Achievement__icon{
    background: red;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin: 2rem;
    font-size: 2rem;
}
.achievements__card:nth-child(2) 
.Achievement__icon{
    background: rgb(104, 201, 104);
}
.achievements__card:nth-child(3) 
.Achievement__icon{
    background: #4c078b;
}
.achievements__card p{
    margin-top: 1rem;
}

/*--------------Our team-----*/
.team{
    background: rgb(131, 58, 131);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    
}
.team__container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.team__member{
    background: rgb(51, 23, 51);
    padding: 2rem;
    border: 2px solid transparent;
    transition: 400ms ease;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.team__member:hover{
    background: transparent;
    border-color: #4c078b;
}
.team__member-image img{
    filter: saturate(0);
}
.team__member:hover img{
    filter: saturate(1);
}
.team__member-info * {
    text-align: center;
    margin-top: 3.4rem;
}
.team__member-info  p{
    color: #fff;

}
.team__member-socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: #4c078b ;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: 400ms ease;
}
.team__member:hover .team__member-socials{
    right: 0;
}
.team__member-socials a{
    padding: 1rem;
}

/*-----------------media tablet---------*/
@media screen and (max-width: 1024px){

.about__achievements{
    margin-top: 2rem;
} 
.about__achievements-container{
    grid-template-columns: 1fr;
    gap: 4rem;
}
.about__achievement-left{
    width: 80%;
    margin: 0 auto;
}

.team__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.team__member{
    padding: 1rem;
}
}

@media screen and (max-width: 600px){
    .achievements__cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;

    }
    .team__container{
        grid-template-columns: 1fr 1fr;
        gap: o.7rem;
        border-radius: 1rem;
    }
    .team__member{
        padding: 0;
    }
    .team__member p{
        margin-bottom: 1.5rem;
    }
}